
## Data Structures - Assignment

### mohammed favas v 
### course machine learning
### Dataset: sklearn.datasets.load_breast_cancer

## 1 = Topic : List

Q1: Create a list of 5 random numbers

In [2]:
numbers= [12, 45, 7, 23, 89]
print ("Original list", numbers)

Original list [12, 45, 7, 23, 89]

Q2: Insert 3 new values

In [3]:
numbers.extend([34, 56, 78])
print("Updated list:", numbers)

Updated list: [12, 45, 7, 23, 89, 34, 56, 78]

Q3: Access the third element

In [4]:
third_element = numbers[2]
print("Third element:", third_element)

Third element: 7

Q4. Create a new list of 3 random strings and concatenate the two lists into a third list

In [5]:
strings = ["apple", "banana", "cherry"]
combined_list = numbers + strings
print("Combined list:", combined_list)

Combined list: [12, 45, 7, 23, 89, 34, 56, 78, 'apple', 'banana', 'cherry']

Q5: Print each element using a loop

In [8]:

print("Printing each element:")
for item in combined_list:
    print(item)

Printing each element:
12
45
7
23
89
34
56
78
apple
banana
cherry

## Topic : Dictionary

Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [17]:
# Q1
person = {
    'name': 'John',
    'age': 25,
    'address': 'New York'
}
person

{'name': 'John', 'age': 25, 'address': 'New York'}

Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'

In [18]:
person["phone"] = "1234567890"

print(person)

{'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

Q3. Remove the key 'address' from the dictionary created in Q1

In [19]:
del person["address"]
print(person)

{'name': 'John', 'age': 25, 'phone': '1234567890'}

Q4. Print the value of the key 'age' from the dictionary created in Q1

In [20]:
print(person["age"])

25

Q5. Check if the key 'phone' exists in the dictionary created in Q1.

In [21]:
print("phone" in person)

True

In [22]:
if "phone" in person:
    print("Phone key exists")
else:
    print("Phone key does not exist")

Phone key exists

## Topic: Set

Q1.Create a set with values 1, 2, 3, 4, and 5.

In [23]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Q2. Add the value 6 to the set created in Q1.

In [24]:

my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

Q3. Remove the value 3 from the set created in Q1

In [25]:

my_set.remove(3)
print(my_set)

{1, 2, 4, 5, 6}

Q4. Print the length of the set created in Q1.

In [26]:
my_set = {1, 2, 3, 4, 5}
print(len(my_set))

5

Q5. Create a new set by union of the set created in Q1 with another set {6, 7, 8}.

In [31]:
my_set = {1, 2, 3, 4, 5}
new_set = my_set.union({6, 7, 8})
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8}

## Topic: Tuple

Q1. Create a tuple with values 1, 2, 3, and 4

In [33]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)

(1, 2, 3, 4)

Q2. Print the length of the tuple created in Q1.

In [34]:
print(len(my_tuple))

4

Q3. Create a new tuple by concatenating the tuple from Q1 with another tuple (5, 6).

In [36]:
new_tuple = my_tuple + (5, 6)
print(new_tuple)

(1, 2, 3, 4, 5, 6)

Q4. Print the first two values of the tuple created in Q3.

In [37]:
print(new_tuple[:2])

(1, 2)

Q5. Check if the value 4 exists in the tuple created in Q1

In [38]:
print(4 in my_tuple)

True

In [39]:
if 4 in my_tuple:
    print("4 exists in the tuple")
else:
    print("4 does not exist in the tuple")

4 exists in the tuple

## Topic : String, List -set-dictionary comprehension

### Exercise 1

Write a program that asks the user to enter his/her full name and the program process and manipulate the text of his/her name.
An example run of the program (numbers in bold are typed in by the user)
Please enter your first name: Peter
Please enter your last name: Cambridge
Your full name is PETER CAMBRIDGE
Your initials are P C
First name length is 5 letters
Last name length is 9 letters
Full name length is 14 letters
First name starts with P
First name ends with R
Last name starts with C
Last name ends with E
First name indexes are 0 – 4
Last name indexes are 0 – 8
First name trims 1 Pet
First name trims 2 eter
Last name trims 1 Cam
Last name trims 2 bridge

 Asking user for input

In [3]:
first_name = input("Please enter your first name: ")
last_name = input("Please enter your last name: ")

print("Your full name is", first_name.upper(), last_name.upper())
print("Your initials are", first_name[0].upper(), last_name[0].upper())

print("First name length is", len(first_name), "letters")
print("Last name length is", len(last_name), "letters")
print("Full name length is", len(first_name) + len(last_name), "letters")

print("First name starts with", first_name[0].upper())
print("First name ends with", first_name[-1].upper())
print("Last name starts with", last_name[0].upper())
print("Last name ends with", last_name[-1].upper())

print("First name indexes are 0 ", len(first_name) - 1)
print("Last name indexes are 0 ", len(last_name) - 1)

print("First name trims 1", first_name[:3])
print("First name trims 2", first_name[1:])
print("Last name trims 1", last_name[:3])
print("Last name trims 2", last_name[1:])

Your full name is MOHAMMED  FAVAS
Your initials are M F
First name length is 9 letters
Last name length is 5 letters
Full name length is 14 letters
First name starts with M
First name ends with
Last name starts with F
Last name ends with S
First name indexes are 0  8
Last name indexes are 0  4
First name trims 1 MOH
First name trims 2 OHAMMED
Last name trims 1 FAV
Last name trims 2 AVAS

### Exercise 2

Write a program that asks the user to enter his/her name and then partly encrypt and display it.
Name: John
Encrypted name : J**n

In [5]:
name = input("Enter your name: ")

encrypted = name[0] + "**" + name[-1]

print("Encrypted name:", encrypted)

Encrypted name: J**N

### Exercise 3

Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
Sample List : ['abc', 'xyz', 'aba', '1221']

In [6]:
strings = ['abc', 'xyz', 'aba', '1221']

count = 0

for s in strings:
    if len(s) >= 2 and s[0] == s[-1]:
        count += 1

print("Number of strings:", count)

Number of strings: 2

### Exercise 4

Find all of the numbers from 1-1000 that are divisible by 7 using list comprehension

In [7]:
numbers = [x for x in range(1, 1001) if x % 7 == 0]
print(numbers)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140, 147, 154, 161, 168, 175, 182, 189, 196, 203, 210, 217, 224, 231, 238, 245, 252, 259, 266, 273, 280, 287, 294, 301, 308, 315, 322, 329, 336, 343, 350, 357, 364, 371, 378, 385, 392, 399, 406, 413, 420, 427, 434, 441, 448, 455, 462, 469, 476, 483, 490, 497, 504, 511, 518, 525, 532, 539, 546, 553, 560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672, 679, 686, 693, 700, 707, 714, 721, 728, 735, 742, 749, 756, 763, 770, 777, 784, 791, 798, 805, 812, 819, 826, 833, 840, 847, 854, 861, 868, 875, 882, 889, 896, 903, 910, 917, 924, 931, 938, 945, 952, 959, 966, 973, 980, 987, 994]

### Exercise 5

Create dictionary from a list where the keys are the elements of the list and value of the dictionary is result after dividing the element by 3

In [1]:
lst = [3, 6, 9, 12, 15]

result_dict = {x: x / 3 for x in lst}

print(result_dict)

{3: 1.0, 6: 2.0, 9: 3.0, 12: 4.0, 15: 5.0}